.card-hotel {
  display: flex;
  flex-direction: column;
  width: calc(33% - 20px);
  margin: 10px;
}
.card-hotel img {
  height: 250px;
}
.hotel {
  display: flex;
  margin-top: 20px;
  padding: 0 20%;

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch
}
.hotel h4 {
  background-color: #003580;
  display: inline-block;
  margin: 0;
  color: #fff;
  width: 15px;
  
}

.title {
  margin-left: 20%;
}
.hotel a {
  font-weight: bold;
  font-size: 1.25em;
}
