.type {
  margin-top: 20px;
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-type {
  width: calc(20% - 20px);

  background-size: cover;
  background-position: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.card-type img {
  height: 200px;
  border-radius: 10%;
}
